extends layout 


block content
    .w3-display-container
        img.imgbox(src="/image/andela.png", alt="img")
    
    .box 
        p School information system (SIS) is a flexible and responsive management information system web application that is use to manage student data. Student information system provide ability to create, view, update and delete students data.

        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, quia. Praesentium aliquam exercitationem earum quia in vel neque rerum a, natus voluptatum modi? Error vero aliquid eius dignissimos natus? Voluptatum! 


