extends layout 


block content
    .w3-display-container
        img.imgbox(src="/image/andela.png", alt="img")
    
    .box Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam dolorum voluptatem corrupti aut, suscipit totam libero consectetur fugiat fuga ipsum maiores officiis sit beatae vero autem minima molestias quaerat laboriosam.






block footer