doctype html(xmlns="http://www.w3.org/1999/xhtml")

html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet' href='/style/w3.css')
        link(rel='stylesheet' href='/publics/style/main.css')
        
     
                        

        title School Information System
    body
        block header
           
            .w3-bar.w3-border.w3-green.w3-large
                a.w3-bar-item.w3-button(href="/") HOME
                a.w3-bar-item.w3-button.w3-hover-none.w3-text-grey.w3-hover-text-white(href="#") Link 1
                a.w3-bar-item.w3-button.w3-hover-none.w3-text-grey.w3-hover-text-white(href="#") Link 2
                a.w3-bar-item.w3-button.w3-hover-none.w3-text-grey.w3-hover-text-white(href="#") Link 3
     
        block content


        block footer
            .w3-container.w3-footer.w3-green.w3-bottom
                p Design by Amaz-Tech


    
